{% layout 'theme.navidium-claim' %}
<div id="nvd-claim"></div>
<style>
        ::-webkit-scrollbar-track{background:#faf2f2;border-radius:10px}::-webkit-scrollbar-thumb{background:#c7bdbd;border-radius:10px}::-webkit-scrollbar-thumb:hover{background:#978c8c}::-webkit-scrollbar{width:5px}.chakra-checkbox__control.css-1n64u0g{background:#ffffff!important;border-radius:10px!important}.chakra-checkbox.css-as9tsl{border-radius:10px}.chakra-checkbox__control.css-1n64u0g[data-checked]{background:#fe5c36!important}.css-1v5j1c{stroke:#fe5c36!important}.css-1cyytfv{border-color:transparent!important;background-color:transparent!important}.css-11lj31b:hover{background:#dbd7d2!important}.quantity-input{width:15px}.inc-btn{font-size:18px;width:15px}
  .nvd-footer{display:none!important}
  .css-1pz0wtd {
    height: unset !important;
    position: unset !important;
}
.css-1pz0wtd {
}
</style>
<!-- Claim Page Code Start -->
<script type="text/javascript">
  const shopUrl = "{{ shop.permanent_domain }}"
</script>
<script type="module" src="https://navidium-static-assets.s3.amazonaws.com/nvd-claim.js"></script>
<!-- Claim Page Code End -->
